<!doctype html>
<html lang="{{ site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "css/global.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-title">Hi, I am {{ site.Title }}</h1>
    </header>
    <main class="site-main">
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
